<header class="header">
    <div class="header-logo" onclick="window.location.href = '/';">
        <div class="logo-text">
            УЧЕТ прибытия личного состава
        </div>
        <div class="logo-version">
            (УПЛС v1.0)
        </div>
    </div>
    <nav class="header-nav">
        <div class="header-menu-home" onclick="window.location.href = '/';">
            Домой
        </div>
        <div class="header-menu-gather" onclick="window.location.href = '/gather';">
            Команда СБОР
        </div>
        <div class="header-menu-instructions" onclick="window.location.href = '/instructions';">
            Инструкция
            <br> 
            к использованию
        </div>
    </nav>
</header>
<hr class="hr-line-top">
