<main class="main-container">
    <div class="welcome">
        <p>
            Добро пожаловать.
        </p>
    </div>
    <div class="main-description">
        <p>
            Вы используете программу для подсчета расхода личного состава. <span class="red">Следуйте</span> инструкциям и Вы обязательно разберетесь. <br>
            Вы можете добавить / редактировать данные военнослужащего, список подразделений и список должностей. Выберите снизу то, что Вам необходимо.
        </p>
    </div>
    <div class="nav-menu  icons-container">
        <div class="icon employees" onclick="document.location.href = '/list_employees';">
            <img src="/images/icons/soldier3.png" alt="">
            <p>
                Список личного состава
            </p>
        </div>
        <div class="icon posts" onclick="document.location.href = '/type_of_employment';">
            <img src="/images/icons/post3.png" alt="">
            <p>
                Расход личного состава
            </p>
        </div>
        <div class="icon units" onclick="document.location.href = '/units_list';">
            <img src="/images/icons/unit3.png" alt="">
            <p>
                Список подразделений
            </p>
        </div>
    </div>
    
</main>