<main class="main-container">
    <div class="slider">   
        <div class="item">
            <img src="/images/instructions/img1.jpg" alt="Первый слайд">
            <div class="slideText">Шаг 1.<br> Заполните список личного состава. Откройте страницу "Список личного состава".</div>
        </div>
        <div class="item">
            <img src="/images/instructions/img2.jpg" alt="Второй слайд">
            <div class="slideText">Шаг 2.<br> Нажмите на кнопку "Добавить нового военнослужащего"</div>
        </div>
        <div class="item">
            <img src="/images/instructions/img3.jpg" alt="Третий слайд">
            <div class="slideText">Шаг 3.<br> Заполните информацию о военнослужащем и нажмите кнопку "Сохранить"</div>
        </div>
        <div class="item">
            <img src="/images/instructions/img4.jpg" alt="Четвертый слайд">
            <div class="slideText">Шаг 4.<br> Заполните расход личного состава. Для этого откройте страницу "Расход личного состава"</div>
        </div>
        <div class="item">
            <img src="/images/instructions/img5.jpg" alt="Пятый слайд">
            <div class="slideText">Шаг 5.<br> Заполните учет личного состава и периоды. Для сохранения расхода нажмите кнопку "Сохранить расход личного состава"</div>
        </div>
        <div class="item">
            <img src="/images/instructions/img6.jpg" alt="Шестой слайд">
            <div class="slideText">Шаг 6.<br> Ведите учет личного состава при поступлении команды СБОР. Для этого откройте страницу "КОМАНДА СБОР"</div>
        </div>
        <div class="item">
            <img src="/images/instructions/img7.jpg" alt="Седьмой слайд">
            <div class="slideText">Шаг 7.<br> Очистите таблицу от ранее установленных времен нажатием на кнопку "Очистить время прибытия лиц". 
                Далее выставляйте отметки о прибытии (можно вручную а можно кликом на галочку). 
                По завершении команды СБОР распечатайте таблицу нажав на кнопку "Распечатать список прибытия лиц"</div>
        </div>
        <a class="prev" onclick="minusSlide()">&#10094;</a>
        <a class="next" onclick="plusSlide()">&#10095;</a>
    </div>
</main>