<div class="main-container">
    <div id="wrapper">
        <h1>Авторизация <br> УПЛС</h1>
        <form id="signin" method="POST" action="">
            <input type="text" id="user" name="username" placeholder="имя пользователя" />
            <input type="password" id="pass" name="password" placeholder="пароль" />
            <button type="submit"></button>
            <p>Забыли пароль? <a href="#"> Щелкните сюда</a></p>
        </form>
    </div>
</div>
