<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("modules/head.ejs") %>  
        <link rel="stylesheet" type="text/css" href="/stylesheets/gather/gather_main.css">
        <script async src="/javascripts/gather.js"></script>
    </head>
    <body>
        <%- include("modules/header.ejs") %>
        <%- include("modules/gather_main.ejs") %>
        <%- include("modules/footer.ejs") %>
    </body>
</html>