<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("modules/head.ejs") %>  
        <link rel="stylesheet" type="text/css" href="/stylesheets/home/home_main.css">
    </head>
    <body>
        <%- include("modules/header.ejs") %>
        <%- include("modules/home_main.ejs") %>
        <%- include("modules/footer.ejs") %>
    </body>
</html>