<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("modules/head.ejs") %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/instructions/instructions_main.css">
        <script async src="javascripts/instructions.js"></script>
    </head>
    <body>
        <%- include("modules/header.ejs") %>
        <%- include("modules/instructions_main.ejs") %>
        <%- include("modules/footer.ejs") %>
    </body>
</html>