<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("modules/head.ejs") %>
        <link rel="stylesheet" type="text/css" href="/stylesheets/type_of_employment/type_of_employment_main.css">
        <script async src="/javascripts/type_of_employment.js"></script>
    </head>
    <body>
        <%- include("modules/header.ejs") %>
        <%- include("modules/type_of_employment_main.ejs")%>
        <%- include("modules/footer.ejs") %>
    </body>
</html>