<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("modules/head.ejs") %>  
        <link rel="stylesheet" type="text/css" href="/stylesheets/units_list/units_list_main.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/list_employees/list_employees_main.css">
        <script async src="/javascripts/units_list.js"></script>
    </head>
    <body>
        <%- include("modules/header.ejs") %>
        <%- include("modules/units_list_main.ejs") %>
        <%- include("modules/footer.ejs") %>
    </body>
</html>