.content-container {
    margin-left: 4vw;
}
h2 {
    margin: 2vh 0vh;
}
.btn_statistic_search-container {
    display: flex;
    flex-direction: row;
}
.btn_statistic-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 15vw;
    margin: 2vw;
}
.search-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 15vw;
    margin: 2vw;
}
.search-text {
    margin-top: 2vw;
}
.search-input {
    width: 15vw;
    height: 5vh;
    border-radius: 7px;
}
.statistic-text {
    margin-right: 10vw;
}
.elem-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}
table {
    font-family: "AsketNarrowThin";
    font-size: 20px;
    text-align: center;
}
th {
    height: 50px;
    border-radius: 2px;
    border: 1px solid rgb(137, 133, 133);
    padding: 0px 10px;
    width: auto;
    color: #000000;
    background-color: #a1a1a1;
}
th:hover {
    cursor: pointer;
    background-color: #32353a;
}

.td-info {
    background: #a1a1a1;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid rgb(137, 133, 133);
    text-align: left;
    height: 100%;
    font-weight: 800;
}
.td-name {
    width: 20vw;
}
.time-container-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.editDelete-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 19vw;
    padding: 0;
}

.th-btn-add, .td-container-btn-edit, .td-container-btn-delete {
    border: none;
}

.btn-add, .btn-edit, .btn-delete, .btn-save, .btn-cancel, .btn-clear {
    font-family: "AsketNarrowThin";
    margin: 10px;
    background-color: rgb(57, 66, 76); /* Blue background */
    color: rgb(231, 228, 228);
    border-radius: 2px;
    padding: 5px;
}
.btn-add, .btn-clear {
    margin: 3vh 0vh;
    width: 260px;
}
.btn-edit:before {
    content: "\270E";
}
.btn-delete:before {
    content: "\2716";
}
.btn-add:before {
    content: "\271A";
}
.btn-clear:before {
    content: "\2716"; 
}
.btn-add:hover, .btn-edit:hover, .btn-delete:hover, .btn-save:hover, .btn-cancel:hover, .btn-clear:hover  {
    background-color: rgb(92, 98, 108);
    cursor: pointer;
}
.time-checkbox {
    background-color: #32353a;
    height: 20vh;
    width: 40vh;
}
.time-checkbox-input {
    zoom: 1.9;
}
